
{% extends 'attc_app/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

{% load static %}
<section id="about-content" >
        <div class="content d-flex justify-content-center align-items-center flex-wrap">
            <div class=" d-flex flex-row flex-wrap">
                <div  class="p-3 fw-medium">
                        <a class="sub-link " aria-current="page" href="#history">Club History </a>
                </div>
                <div  class="p-3  fw-medium">
                    <a class="sub-link" aria-current="page" href="#committee">Constitution , AGM & Committee</a>
                </div>
                <div  class="p-3   fw-medium">
                        <a class="sub-link " aria-current="page" href="#accredition">Affiliation & Accredition </a>
                </div>
                <div  class="p-3   fw-medium">
                        <a class="sub-link " aria-current="page" href="#">Codes of Conduct</a>
                </div>
                <div  class="p-3   fw-medium">
                        <a class="sub-link " aria-current="page" href="#">Honours List </a>
                </div>
                <div  class="p-3   fw-medium">
                        <a class="sub-link " aria-current="page" href="#">Club Kit </a>
                </div>

                <div  class="p-3   fw-medium">
                        <a class="sub-link " aria-current="page" href="#">Rules of Table Tennis </a>
                </div>
                <div  class="p-3   fw-medium">
                        <a class="sub-link " aria-current="page" href="#">Club Documents </a>
                </div>
            </div>
        </div>
    </section>

    <section class="m-5 p-3">
        <h1 class="mb-5">
            About Us
        </h1>
        <p class="fs-4 lh-lg">
            We are very active club and have in excess of 300 members of all ages and abilities. Formed in 1981, the club was appointed as a Table Tennis England (formerly English Table Tennis Association) PremierClub in 2002.

            Our teams play in three local leagues: the Staines and the Byfleet in Surrey and the South & West Middlesex. We also have teams in the Senior British League and Junior British League.

            The club is fortunate to have purpose built facilities - arguably, among the best in the country - which are open to club members all day every day throughout the year (except December 25th)! We run a comprehensive coaching programme, catering for a wide spectrum of ages and standards. We are also working with the TTE and local schools to get more children playing table tennis.
        </p>
    </section>
    <section id="history" class="m-5 p-5">
        <h1 class="mb-5">
            Club History
        </h1>
        <small >Compiled by Murray Glover, with help from David and Heather Tucker, and Steve Eames</small>
        <h2 class="mt-5">The 1940 Club</h2>
        <p class="fs-5 lh-lg">
            On April 17th 1939, fourteen members of Ashford Methodist Church Table Tennis Club set up a new club.
            They had just been told that the hall where they had played for years was going to be demolished
            in order to build a new church. Two names for the new club were put forward: “Venture TTC” and “The 1940 Club”.
            The latter was preferred, looking ahead to what they (ironically) hoped would be a brave new decade.<br><br>

            <div class="bord">
                <img src="{% static 'website/his1.png' %}" alt="club logo" class="abt "/><br><br>
            </div>
        </p>
        <p>
            <br><br>
            Their new venue was a hall, with two tables, at the back of The District Arms, in Woodthorpe Road,
            (just a few hundred yards from the present ATTC hall). In September, another eleven new members joined –
            including talented players Muriel Pate and Peter Tucker. By a strange coincidence, Muriel was then 19
            and the oldest member 40.<br><br>

            At a meeting of members on September 13th 1939, it was agreed that the club should continue, despite war
            having just been declared. In October, it was agreed to raise membership to a maximum of 30. Average attendance
            at club nights was 20. Some members were called up into the forces, but temporary membership was offered to
            service personnel stationed around Ashford.<br><br>

            At the end of their first season, it was noted that club nights had always been well attended despite there being
            air-raid warnings on 20 out of the 30! Blackout precautions had to be rigorously adhered to – and due to celluloid
            factories being diverted to war work, table tennis balls were very hard to come by. A government permit had to be
            obtained first, and then a supplier, if one could be found.<br><br>

            Peter and Muriel were married in February 1942. The club sent them a telegram:<br></br>

            <i>“Sincere good wishes and the best of luck in your doubles match”.</i><br><br>

            In May 1942, they were both elected to the Committee for the first time.
        </p>
        <h2 class="mt-5">1945 - 1959</h2>
        <p class="fs-5 lh-lg">
            When the war ended in 1945, the Staines League was revived, and the 1940 club, with two teams entered, looked forward
            to playing matches again, although many friendlies had been arranged during the war. At the AGM that June, the Chairman
            proudly proclaimed: “All through the period of the blitz, doodle bugs and rockets, the club never failed to meet!”.<br><br>

            Club nights continued at the District Arms, but over the next few years a succession of other venues were used for matches
            and practice – including:
            </p><br>
            <ul>
                <li>* Wesley Hall</li>
                <li>* The St. John’s Ambulance Hall at the back of The Links Hotel</li>
                <li>* The Assembly Hall at the LCC Residential School</li>
                <li>* The Methodist Church Band Room</li>
                <li>* The Welsh Girls’ School</li>
                <li>* The Co-Op Social Hall in Staines</li>
            </ul><br><br>
        <p>
            Table tennis balls were still virtually unobtainable – clubs had to obtain an ETTA permit to acquire them. 2xx balls were
            strictly kept for matches and Club Championships – standard balls only, for every other type of play.<br><br>

            Founder member of the 1940 Club, Ray Stainer, was also secretary of the Staines League, and he arranged for some international
            players, including Johnny Leach and Jack Carrington, to play an exhibition match in September 1945.<br><br>

            <i>“Mr.Carrington had requested that two strong local players be planted in the audience to accept comedy challenges!”</i><br><br>

            The same players returned to play again in October 1946, and 1940 Club member, Bernard Crouch played a singles against Johnny Leach
            (who became World Champion in 1949).<br><br>

            Mr. Stainer’s widow, Phyl, later became Life President of ATTC. She retained all her faculties, both mental and physical,
            until her death in 2005 in her mid-90s, playing bowls for Ashford Bowls Club until her eyesight failed in her last year or so.
        </p>
            <br><br>
            <div class="bord">
                <img src="{% static 'website/his2.png' %}" alt="club logo" class="abt "/><br><br>
            </div>
            <br><br>
        <p>
            Though small in numbers, the 1940 Club had a full social programme. Whist drives, beetle drives and Christmas parties –
            with National Saving stamps as prizes for the best turns. One Christmas, Mr. and Mrs. Tucker “performed a sketch.” Outings
            were also arranged, often to the theatre – in January 1946, 32 went to “Humpty Dumpty” at the Chiswick Theatre, then back for a
            late supper at Edney’s Restaurant in Ashford.<br><br>

            The club began looking for more talented players to boost their performance in the Staines League. Bernard Crouch had moved to
            another club, but Leo Thompson (from Wraysbury) joined in his place and offered to provide coaching.<br><br>

            In the minutes of 12 November 1947, it was noted that friendly matches would be arranged with German Prisoners of War – over two
            years after the end of World War Two!.<br><br>
        </p>
        <h2 class="mt-5">1960 – 1980</h2>
        <p class="fs-5 lh-lg">
            In early 1960, the 1940 Club was informed that the District Arms venue (or “headquarters” as the club called it) would no longer be
            available. So a five year lease was obtained to play two nights a week between October and April in a hall in the newly extended premises
            of Ashford Sports Club (on the site in Woodthorpe Road now occupied by the Salvation Army building). Thursdays were club nights – matches
            were played in the Bowls Club. The club competed successfully in the flourishing Staines League, acquitting itself with honour in the annual
            championships.<br><br>

            Peter and Muriel’s sons, Ray and David, became active members in 1962 and 1964 respectively. Towards the end of the 1970s, Ray, together with
            local table tennis coach Roger Fairhead, conceived the idea of a dedicated table tennis centre, the first of its kind in the area. Whilst Roger
            got plans drawn up, Ray, with his unique blend of energy, determination and diplomacy, negotiated a site across the road from Ashford Sports Club
            aka ASC (alongside their cricket ground and tennis courts). Ray went through the long process of getting planning permission from Spelthorne Council,
            and entered into negotiations with governmental and local bodies, as well as local firms and individuals, to raise the £50,000 the centre would cost.<br><br>
        </p>
        <h2 class="mt-5">1981</h2>
        <p class="fs-5 lh-lg">
            After many vicissitudes, the new centre was officially opened in October 1981. The old 1940 Club now became Ashford Table Tennis Club (ATTC), with Peter Tucker
            as Chairman and Ray as Treasurer. The Sports Council and Surrey Playing Fields Association were among the financial backers, the remainder being raised from
            donations and interest-free loans.<br><br>

            <div class="bord">
                <img class="abt" data-bs-toggle="modal" data-bs-target="#myModal1" src="{% static 'website/his3.png' %}">
                <div id="myModal1" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                <img src="{% static 'website/his3.png' %}" alt="club logo"class="exp"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <small class="ms-4"><i>Click image to enlarge</i></small>
        <br><br>
        </p>
        <p>
            No expense was spared in equipping the new centre – top-quality Stiga tables, state-of-the-art lighting, and the latest robot trainer. Members were given cards
            which provided access at any time of day or night, all year long. Ex-England coach, Les Gresswell, was soon taken on as Club Professional, and training sessions
            were arranged with top England players Desmond Douglas and Nicky Jarvis. Word soon spread around the table tennis world that this was an exceptional facility.
            Ashford’s accessibility from Heathrow made it an ideal venue for visiting international teams to practise.<br><br>

            The blaze of publicity generated a lot of interest among the top players in the country at the time, and Ray lost no time in persuading some of them to represent
            the club in the British League. ATTC had a meteoric rise in this, moving up in successive years by winning the League’s Division 3 (South), Division 2 (South),
            then Division 1, and finally the Premier Division in the 1998/9 season.<br><br>

            Early team members included Surrey players Rupert Bole and Mike Hammond – the latter beating a young Matthew Syed in the club’s first ever British League match
            against Gillette Reading in August 1983. Later signings included England-ranked players Steve Dorking, Max Crimmins, Kenny Jackson and Glen Baker, top England women
            internationals Alison Gordon and Mandy Sainsbury, and Scottish champion Dave Hannah. With the club’s unstoppable progress through the divisions, more top-class players
            joined the bandwagon – including New Zealand’s no. 2 Peter Jackson. He had practised at the club prior to returning to NZ, but was so impressed with the facilities and
            enthusiasm there that he decided to stay on for another year and play for ATTC.<br><br>

            England player Nicky Mason, Welsh no. 2 Dave Welsman, and Belgian international Jean Michel Saive also starred in ATTC’s first year in the Premier Division, which they won
            in their final match. The holders were Bath, and in their penultimate and crucial match against them at Bath, ATTC drew 4-4. Glenn Baker, ranked 15 in England, beat Chris Rogers
            ranked 11. Nicky Mason came within one point of beating Desmond Douglas. Peter Jackson beat Matthew Syed and Saive beat Desmond Douglas. No other team had ever before come higher
            than fourth in their first season in the Premier Division.<br><br>

            These were undoubtedly the glory years of the club – in the 1990s, it proved impossible to compete with the financial incentives that began to be offered to top players by other clubs.<br><br>
        </p>
        <div class="gallery">
            <div class="com">
                <!--Gallery with Modal-->
                <img class="abt" data-bs-toggle="modal" data-bs-target="#myModal2" src="{% static 'website/his4.png' %}">
                <div id="myModal2" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                <img src="{% static 'website/his4.png' %}" alt="club logo"class="exp"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="com">
                <img class="abt" data-bs-toggle="modal" data-bs-target="#myModal3" src="{% static 'website/his5.png' %}">
                <div id="myModal3" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                <img src="{% static 'website/his5.png' %}" alt="club logo"class="exp"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="com">
                <img class="abt" data-bs-toggle="modal" data-bs-target="#myModal4" src="{% static 'website/his6.png' %}">
                <div id="myModal4" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                <img src="{% static 'website/his6.png' %}" alt="club logo"class="exp"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="com">
                <img class="abt" data-bs-toggle="modal" data-bs-target="#myModal5" src="{% static 'website/his7.png' %}">
                <div id="myModal5" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                <img src="{% static 'website/his7.png' %}" alt="club logo"class="exp"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <small class="cap">Click image to enlarge</small>
        </div>

        <h2 class="mt-5">1990 – Present Day</h2>
        <p class="fs-5 lh-lg">
            Since the 1980s, ATTC has performed creditably, but not outstandingly, in the British League, with its teams of talented club players. Jean Michel Saive went on to become World Number 1 from February 1994
            to June 1995, and then again, for a month, in 1996.<br><br>

            Other table tennis centres have been set up around the country, following Ray Tucker’s innovative lead, but ATTC has always remained a favourite with those who have played there, either as visitors or members, over the years.<br><br>

            ATTC have played matches against national teams from many countries, often when they have been practising before tournaments – including Austria, Finland, Japan, Taiwanese juniors (who beat ATTC’s team of top players 7-0!) Iceland and Malta.<br><br>

            As well as British League matches, several county and premier veterans’ tournaments are played at the club during the year.<br><br>

            Nicky Jarvis still runs regular coaching sessions for advanced players. A team of qualified coaches, led by Hampshire veteran Graham Outrim, runs classes for club members at every level – equally important is a successful Schools Partnership Scheme,
            started in 2003, where coaches go out into local schools to identify and foster junior talent. A number of these youngsters will later become club members and progress to represent the club in national cadet and junior leagues, local leagues, county
            and senior British leagues, and in national tournaments.<br><br>

            Meanwhile, facilities in the club are constantly being upgraded. Some years ago a superb hardwood floor was laid in the hall, thanks in part to a contribution from The Foundation for Sports and the Arts. A new, highly efficient and cost-effective
            lighting system has recently been installed.<br><br>

            The club remains part of Ashford Sports Club. Though the hockey and cricket sections moved a few years ago to a new location at Short Lane in Stanwell, the table tennis, lawn tennis and bowls sections remain at the Woodthorpe Road site, which is
            administered by an independent Woodthorpe Road Management committee.<br><br>

            Sadly, Ray Tucker died in 2005 aged only 56. But the club which he founded still flourishes as a continuing memorial to his pioneering vision.<br><br>

            The club as it is today:
        </p>
        <img src="{% static 'website/attc5.png' %}" alt="club logo" class="abt2 rounded-2"/><br><br>
    </section>

    <section id="committee" class="m-5 p-3">
        <h2 class="mb-5">
            Constitution
        </h2>
        <p class="fs-5 lh-lg">
            The club constitution is available online and can be downloaded from our Club Documents page.
        </p><br><br>
        <h2 class="mb-5">
            Annual General Meeting
        </h2>
        <p class="fs-5 lh-lg">
            The ATTC annual general meeting is normally held at the beginning of June at the club.

            AGM documents, such as agendas and reports, are located on the Club Documents page.
        </p><br><br>
        <h2 class="mb-5">
            Committee
        </h2>
        <p class="fs-5 lh-lg">
            The ATTC committee is made up of volunteer club members and it meets several times a year.
            <br><br>
            Committee documents, such as agendas and minutes, are located on the Club Documents page.
            <br><br>The current committee members are as follows:
        </p><br><br>
        <div class="gallery">
            <div class="com">
                <img src="{% static 'website/dave.png' %}" alt="club logo" class="abt3 "/>
                <div >
                    <small class="fw-semibold">Dave Wilson</small><br>
                    <small class="fw-medium">Chairman</small>
                </div>
            </div>
            <div class="com">
                <img src="{% static 'website/mark.png' %}" alt="club logo" class="abt3 "/>
                <div >
                    <small class="fw-semibold">Mark Roper</small><br>
                    <small class="fw-medium">Membership Secretary</small>
                </div>
            </div>
            <div class="com">
                <img src="{% static 'website/david.png' %}" alt="club logo" class="abt3 "/>
                <div >
                    <small class="fw-semibold">David Fletcher</small><br>
                    <small class="fw-medium">Club Treasurer</small>
                </div>
            </div>
            <div class="com">
                <img  src="{% static 'website/graham.png' %}" alt="club logo" class="abt3"/>
                <div >
                    <small class="fw-semibold">Graham Outrim</small><br>
                    <small class="fw-medium">Coaching Officer</small>
                </div>
            </div>
            <div class="com">
                <img src="{% static 'website/kamal.png' %}" alt="club logo" class="abt3 "/>
                <div >
                    <small class="fw-semibold">Kamal Shah</small><br>
                    <small class="fw-medium">Junior Development Officer</small>
                </div>
            </div>
            <div class="com">
                <img src="{% static 'website/greg.png' %}" alt="club logo" class="abt3 "/>
                <div >
                    <small class="fw-semibold">Greg Kendall</small><br>
                    <small class="fw-medium">Website Co-ordinator</small>
                </div>
            </div>
            <div class="com">
                <img src="{% static 'website/mike.png' %}" alt="club logo" class="abt3 "/>
                <div >
                    <small class="fw-semibold">Mike Wynne</small><br>
                    <small class="fw-medium">Minutes Secretary</small>
                </div>
            </div>
            <div class="com">
                <img  src="{% static 'website/carter.png' %}" alt="club logo" class="abt3"/>
                <div >
                    <small class="fw-semibold">Carter Frost</small><br>
                    <small class="fw-medium">Social Media Officer</small>
                </div>
            </div>
        </div>
    </section>

    <section id="accredition" class="m-5 p-3">
        <h2 class="mt-5">
            Affiliations & Accreditations
        </h2>
        <p class="fs-5 lh-lg">
            Ashford Table Tennis Club is affiliated to the following organisations:
        </p>
        <h3 class="mt-5">
            1 - Table Tennis England
        </h3>
        <p class="fs-5 lh-lg">
            Table Tennis England is the governing body of table tennis in England,
            responsible for representing, coordinating, administering, marketing and
            developing the sport in close cooperation with related bodies.
        </p>
        <br><br>
        <p class="fs-5 lh-lg">
            PremierClub is Table Tennis England’s national club development programme
            and gives clubs the opportunity to receive recognition that they are a club showing high levels of good practice and ongoing development.
            <br><br>
            Our Table Tennis England PremierClub certificate may be viewed here.
        </p>
        <img class="abt-cert" data-bs-toggle="modal" data-bs-target="#myModal6" src="{% static 'website/cert.png' %}">
                <div id="myModal6" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content2">
                            <div class="modal-body">
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                <img src="{% static 'website/cert.png' %}" alt="club logo"class="exp2"/>
                            </div>
                        </div>
                    </div>
                </div>
        <h3 class="mt-5 mb-5">
            2 - The Middlesex Table Tennis Association
        </h3>
        <p class="fs-5 lh-lg">
            County table tennis plays an important part in the make-up of the national game and Middlesex remains one of the strongest table tennis counties in England.
            <br><br>
            The county championships began in 1947 and Middlesex has won many titles at senior, junior and veteran levels.
            <br><br>
            Middlesex has nurtured three world champions and numerous international players.
        </p>
    </section>


{% endblock %}
