
{% extends 'attc_app/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

{% load static %}

    <section id="leagues" class="vh-100">
    <div class="content d-flex justify-content-center align-items-center flex-wrap">
        <div class=" d-flex flex-row flex-wrap">
            <div  class="sub-link m-3 p-3 fw-medium"><a href="schedule.html" class="text-dark ">British League</a></div>
            <div  class="sub-link m-3 p-3 fw-medium">Junior Leagues</div>
            <div  class="sub-link m-3 p-3 fw-medium">Byfleet League</div>
            <div  class="sub-link m-3 p-3 fw-medium">South & West Middlesex League</div>
            <div  class="sub-link m-3 p-3 fw-medium">Staines League</div>
            <div  class="sub-link m-3 p-3 fw-medium">Tournaments</div>
            <div  class="sub-link m-3 p-3 fw-medium">Summer & Ladder Leagues</div>
            <div  class="sub-link m-3 p-3 fw-medium">Friendlies</div>
        </div>
    </div>
    </section>


{% endblock %}
